scripts/n8n-workflows/New_Document_Router.json
{
  "name": "New Document Router",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "tableName": {
          "__rl": true,
          "value": "Document",
          "mode": "list",
          "cachedResultName": "Document"
        },
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -120
      ],
      "id": "90b745a3-ac96-43c0-8371-0d46c25e5d10",
      "name": "Postgres Trigger",
      "credentials": {
        "postgres": {
          "id": "TgIU2dwnLDnf2bh1",
          "name": "unfilteredDB"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4rpITCccjG4v5PR6",
          "mode": "list",
          "cachedResultName": "Document Summary Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documentId": "={{ $json.documentId }}",
            "content": "={{ $json.content }}",
            "dateSigned": "={{ $('Postgres Trigger').item.json.payload.dateSigned }}",
            "title": "={{ $('Postgres Trigger').item.json.payload.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dateSigned",
              "displayName": "dateSigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -380,
        -120
      ],
      "id": "1e7a48d9-deab-489b-a5df-a64448b7b677",
      "name": "Generate Short Summary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0nYytY4KLG6yIwfR",
          "mode": "list",
          "cachedResultName": "Key Points Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documentId": "={{ $json.id }}",
            "originalDocumentUrl": "={{ $json.originalDocumentUrl }}",
            "title": "={{ $json.title }}",
            "dateSigned": "={{ $json.dateSigned }}",
            "shortSummary": "={{ $json.shortSummary }}",
            "signer": "={{ $json.signer }}",
            "documentContent": "={{ $('Get Content').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "originalDocumentUrl",
              "displayName": "originalDocumentUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dateSigned",
              "displayName": "dateSigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "shortSummary",
              "displayName": "shortSummary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "signer",
              "displayName": "signer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "documentContent",
              "displayName": "documentContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -180,
        -220
      ],
      "id": "661bf941-fa48-4dd6-9f73-3c8da024de06",
      "name": "Generate Key Points"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DocumentArtifact",
          "mode": "list",
          "cachedResultName": "DocumentArtifact"
        },
        "where": {
          "values": [
            {
              "column": "documentId",
              "value": "={{ $json.payload.id }}"
            },
            {
              "column": "title",
              "value": "Original Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -580,
        -120
      ],
      "id": "a7e2bc1f-9447-4a20-b6c5-15d719687645",
      "name": "Get Content",
      "credentials": {
        "postgres": {
          "id": "TgIU2dwnLDnf2bh1",
          "name": "unfilteredDB"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cafdpUeMHoK1NaAP",
          "mode": "list",
          "cachedResultName": "Constitutional Concern Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documentId": "={{ $('Generate Short Summary').item.json.id }}",
            "originalDocumentUrl": "={{ $('Generate Short Summary').item.json.originalDocumentUrl }}",
            "title": "={{ $('Generate Short Summary').item.json.title }}",
            "dateSigned": "={{ $('Generate Short Summary').item.json.dateSigned }}",
            "shortSummary": "={{ $('Generate Short Summary').item.json.shortSummary }}",
            "signer": "={{ $('Generate Short Summary').item.json.signer }}",
            "documentContent": "={{ $('Get Content').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "originalDocumentUrl",
              "displayName": "originalDocumentUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dateSigned",
              "displayName": "dateSigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "shortSummary",
              "displayName": "shortSummary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "signer",
              "displayName": "signer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "documentContent",
              "displayName": "documentContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -180,
        -20
      ],
      "id": "ba2c5ca0-0b97-4cbf-844c-ed480b42ed89",
      "name": "Generate Constitutional Considerations"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Trigger": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Short Summary": {
      "main": [
        [
          {
            "node": "Generate Key Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Constitutional Considerations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Generate Short Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Key Points": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed6eb9d3-f323-4b89-8944-f959deae7591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aecb098322aae3ee4bbe2d8612d69724238dc93e216b7ebd9e61223cda7a4f0"
  },
  "id": "3MppU4B5yaaFEcAi",
  "tags": []
}