scripts/n8n-workflows/Scrape_Specific_Am_Pres_Proj_Document.json
{
  "name": "Scrape Specific Am Pres Proj Document",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -300
      ],
      "id": "ed5c2742-539b-41d6-a2e0-f916c63561fd",
      "name": "Get Document HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".field-ds-doc-title h1"
            },
            {
              "key": "signingDate",
              "cssSelector": "span.date-display-single",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "content",
              "cssSelector": ".field-docs-content p",
              "returnArray": true
            },
            {
              "key": "documentUrl",
              "cssSelector": "link[rel=\"canonical\"]",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        780,
        -300
      ],
      "id": "a9896db9-e70c-4b18-b482-57902066e4ab",
      "name": "Extract Document Values"
    },
    {
      "parameters": {
        "jsCode": "function generateSlug(title) {\n  return title\n    .replace(/[^a-zA-Z0-9\\s-]/g, ' ') // Remove special characters\n    .replace(/\\s+/g, '-') // Replace spaces with hyphens\n    .replace(/-+/g, '-') // Replace multiple hyphens with a single hyphen\n    .toLowerCase(); // Convert to lowercase\n}\n\nfor (const item of $input.all()) {\n  item.json.content = item.json.content.join(\"\\n\\n\");\n  item.json.title = item.json.title.trim();\n  item.json.slug = generateSlug(item.json.title);\n  item.json.documentUrl = `https://www.presidency.ucsb.edu${item.json.documentUrl}`\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -300
      ],
      "id": "07b80c16-e3f9-4f5a-991d-321abda00508",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DocumentArtifact",
          "mode": "list",
          "cachedResultName": "DocumentArtifact"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "updatedAt": "={{ $now }}",
            "documentId": "={{ $('Workflow Input Trigger').item.json.documentId }}",
            "content": "={{ $json.content }}",
            "title": "Original Document"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        -300
      ],
      "id": "7055c632-6427-4d90-8476-ca165d6e83d9",
      "name": "Insert Documents and Artifacts",
      "credentials": {
        "postgres": {
          "id": "TgIU2dwnLDnf2bh1",
          "name": "unfilteredDB"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "documentId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        300,
        -300
      ],
      "id": "4a8aa858-9fdb-4199-a112-53b7ef271e11",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "url": "https://www.presidency.ucsb.edu/node/375865",
          "documentId": 3
        }
      }
    ]
  },
  "connections": {
    "Get Document HTML": {
      "main": [
        [
          {
            "node": "Extract Document Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Values": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insert Documents and Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Get Document HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3bfecec-be64-4599-974b-342887c16292",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aecb098322aae3ee4bbe2d8612d69724238dc93e216b7ebd9e61223cda7a4f0"
  },
  "id": "w0eyChaiPnDUPzFT",
  "tags": []
}