scripts/n8n-workflows/Scrape_Specific_WH_gov_Order.json
{
  "name": "Scrape Specific WH.gov Order",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -300
      ],
      "id": "74abe413-c739-430e-8f5c-14d09b5d5b60",
      "name": "Get Document HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".wp-block-whitehouse-topper__headline"
            },
            {
              "key": "signingDate",
              "cssSelector": "time",
              "returnValue": "attribute",
              "attribute": "datetime"
            },
            {
              "key": "content",
              "cssSelector": ".entry-content p",
              "returnArray": true
            },
            {
              "key": "documentUrl",
              "cssSelector": "link",
              "returnValue": "attribute",
              "attribute": "href"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        780,
        -300
      ],
      "id": "724d7ed1-f716-488b-9473-b5e2306df904",
      "name": "Extract Document Values"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.content = item.json.content.join(\"\\n\\n\");\n  item.json.title = item.json.title.trim();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -300
      ],
      "id": "32eb3a74-c414-4ec9-bf1f-3cd6b1951d99",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "DocumentArtifact",
          "mode": "list",
          "cachedResultName": "DocumentArtifact"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "updatedAt": "={{ $now }}",
            "documentId": "={{ $('Workflow Input Trigger').item.json.documentId }}",
            "content": "={{ $json.content }}",
            "title": "Original Document"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        -300
      ],
      "id": "7f0844f9-2e11-43b9-a387-2c211dfc349e",
      "name": "Insert Documents and Artifacts",
      "credentials": {
        "postgres": {
          "id": "TgIU2dwnLDnf2bh1",
          "name": "unfilteredDB"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "documentId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        300,
        -300
      ],
      "id": "46e04c93-3af9-476d-b50d-c90cb339f007",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "url": "https://www.whitehouse.gov/presidential-actions/2025/01/guaranteeing-the-states-protection-against-invasion/",
          "documentId": 33
        }
      }
    ]
  },
  "connections": {
    "Get Document HTML": {
      "main": [
        [
          {
            "node": "Extract Document Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Values": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Insert Documents and Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Get Document HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3d27206-ad5b-4809-b7eb-cba16ed7db1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aecb098322aae3ee4bbe2d8612d69724238dc93e216b7ebd9e61223cda7a4f0"
  },
  "id": "W8snkVe47Chxpf7H",
  "tags": []
}